name: Release

on:
#  schedule:
#    # 2 AM on Sunday
#    - cron: "0 2 * * 0"
  workflow_dispatch:

# we do not want more than one release workflow executing at the same time, ever
concurrency:
  group: release
  # cancelling in the middle of a release would create incomplete releases
  # so cancel-in-progress is false
  cancel-in-progress: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: run semantic-release
        run: ./ci/release/run.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
